@{
	ViewBag.Title = "Upload";
}

@using (Html.BeginForm("Upload", "User", FormMethod.Post))
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>Upload</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		<div class="col-md-10">
			<input type="file" multiple/>
		</div>
	</div>

	@ViewBag.SavePath
	<!--img src="" alt=""/-->

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit">Save</button>
		</div>
	</div>
</div>
}
