<label class="control-label col-sm-2 col-md-2" for="fb">Thumbnail Image</label>
<div class="col-sm-10 col-md-10">
	<p class="clickMe btn-media">Choose Image</p>
	<img id="img-upload" src="@ViewBag.Thumbnail" />
	<input id="upload" name="upload" type="text" value="@ViewBag.Thumbnail" hidden />
	<div id='myModal' class='modal'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="row">
					<div class="col-sm-2">

					</div>
					<div class="col-sm-10">
						<input type="file" name="files" id="files" multiple />
						<ul id="lst-img"></ul>
						<br />
						<button id="btn-upload" runat="server" type="submit">Upload</button>
						<iframe id="ifrm" src="/Admin/Upload/Upload" hidden></iframe>
						<div class="media">
							<input class="media-search" type="text" />
							<ul class="media-gallery"></ul>
							<div class="media-option-bar">
								<p id="btn-select" class="btn-media">Select</p>
								<p id="btn-cancel" class="btn-media">Cancel</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
