<div class="section odd">
	<h2>Tool</h2>
	<p>Visual Studio 2017 Professional</p>
	<p>Google Chrome (Test)</p>
</div>

<div class="section even">
	<h2>Programming Languages:</h2>
	<p>C# with .Net Framwork</p>
	<p>Entity Framework</p>
	<p>HTML 5, PHP 7</p>
	<p>CSS, Javascript, jQuery (styling)</p>
	<p>(AJAX, AngularJS / NodeJS)</p>
</div>