<h3>Leave the comment</h3>

<form class="contact" action="">
    <p>Please fill in this form if you have any comment about our sites.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Your Email" name="email" required>

    <label for="comment"><b>Comment</b></label>
    <textarea placeholder="Your Comment" name="comment" required rows="10"></textarea>
    <hr>
    <button type="submit" class="submit">Summit</button>
</form>

<h3>Or You can contact with us by follow:</h3>

<address>
    One WebApp Way<br />
    NTK132, VN 2018-0816<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>