
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	@Styles.Render("~/Admin/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div>
		<form action="@Request.Url.AbsolutePath" name="frm-media-upload" id="frm-media-upload" method="post" enctype="multipart/form-data">
			@Html.AntiForgeryToken()
			<input type="file" name="files" id="files" multiple />
			<br />
			<br />
			<button id="btn-upload" type="submit">Upload</button>
		</form>
	</div>
</body>
</html>
