
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
	<div>
		<form action="" name="frm-media-upload" id="frm-media-upload" method="post" enctype="multipart/form-data">
			@Html.AntiForgeryToken()
			<input type="file" name="files" id="files" multiple />
			<ul id="lst-img"></ul>
			<br />
			<button id="btn-upload" runat="server" type="submit">Upload</button>
		</form>
	</div>
</body>
</html>
