/*--------------------------------------*/
/*--------:[Color Theme Define]:--------*/
:root {
    --primary-color: #212121;
    --primary-variant: #BDBDBD;
    --secondary-color: #FB8C00;
    --secondary-variant: #FFB74D;
    --background-color: #FFFFFF;
    --surface-color: #FFFFFF;
    --error-color: #B00020;
    --on-primary: #FFFFFF;
    --on-secondary: #000000;
    --on-background: #000000;
    --on-surface: #000000;
    --on-error: #FFFFFF;
}
/*------------:[End Define]:------------*/
/*--------------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    font-family: Calibri;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}
a:hover {
    text-decoration: none;
    color: var(--on-secondary);
}

img {
    width:100%;
}

input[type="submit"],
button {
    border: none;
    outline: none;
    background: inherit;
}

/*--------:[WYSIWYG Editor Tool]:--------*/
/*---- For both admin(post's content) and user(comment) side ----*/
.wysiwyg {
    margin: 0 auto;
    width: auto;
    font-family:'Dosis';
    background: var(--background-color);
}

.wysiwyg a {
    cursor: pointer;
}

.wysiwyg #editor {
    background:var(--background-color);
    border: 1px solid var(--primary-variant);
    box-shadow: 0 0 2px var(--primary-variant);
    overflow: auto;
    padding: 1em;
    margin-top: 20px;
    resize: vertical;
    outline: none;
    min-height: 400px;
}

.wysiwyg #editor:focus {
    border: 1px solid var(--secondary-variant);
}

.wysiwyg .wysiwyg-toolbar {
    text-align:center;
}

.wysiwyg .wysiwyg-toolbar a,
.wysiwyg .fore-wrapper,
.wysiwyg .back-wrapper {
    border: 1px solid var(--primary-color);
    background: var(--background-color);
    border-radius: 1px;
    color: black;
    padding: 5px;
    width: 2.25em;
    margin: -2px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 1px 0px var(--primary-variant);
}

.wysiwyg .wysiwyg-toolbar a:hover {
    background: var(--secondary-variant);
    border-color: var(--secondary-variant);
}

.wysiwyg a[data-command='redo'],
.wysiwyg a[data-command='strikeThrough'],
.wysiwyg a[data-command='justifyFull'],
.wysiwyg a[data-command='insertOrderedList'],
.wysiwyg a[data-command='outdent'],
.wysiwyg a[data-command='p'],
.wysiwyg a[data-command='superscript'] {
    margin-right: 5px;
    border-radius: 0 3px 3px 0;
}

.wysiwyg a[data-command='undo'],
.fore-wrapper,
.wysiwyg a[data-command='justifyLeft'],
.wysiwyg a[data-command='insertUnorderedList'],
.wysiwyg a[data-command='indent'],
.wysiwyg a[data-command='h1'],
.wysiwyg a[data-command='subscript'] {
    border-radius: 3px 0 0 3px;
}

.wysiwyg a.palette-item {
    height: 1em;
    border-radius: 3px;
    margin: 2px;
    width: 1em;
    border: 1px solid var(--primary-variant);
}

.wysiwyg a.palette-item:hover {
    border: 1px solid var(--primary-variant);
    box-shadow: 0 0 3px var(--primary-color);
}

.wysiwyg .fore-palette,
.wysiwyg .back-palette {
    display: none;
}

.wysiwyg .fore-wrapper,
.wysiwyg .back-wrapper {
    display: inline-block;
    cursor: pointer;
}

.wysiwyg .fore-wrapper:hover .fore-palette,
.wysiwyg .back-wrapper:hover .back-palette {
    display: block;
    float: left;
    position: absolute;
    padding: 3px;
    width: 160px;
    background: var(--background-color);
    border: 1px solid var(--primary-variant);
    box-shadow: 0 0 5px var(--primary-variant);
    height: 70px;
}

.wysiwyg .fore-palette a,
.wysiwyg .back-palette a {
    background: var(--background-color);
    margin-bottom: 2px;
}

.wysiwyg-upload {
    display: none;
}

/*===========================================================================*/
/*=============================== Pagination ================================*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}