/*===========================================================================*/
/*=============================== Admin Side ================================*/

/*--------:[Color Theme Define]:--------*/
:root {
    --primary-color: #212121;
    --primary-variant: #EEEEEE;
    --secondary-color: #0277BD;
    --secondary-variant: #81D4FA;
    --background-color: #FFFFFF;
    --surface-color: #FFFFFF;
    --error-color: #B00020;
    --on-primary: #FFFFFF;
    --on-secondary: #000000;
    --on-background: #000000;
    --on-surface: #000000;
    --on-error: #FFFFFF;
}
/*------------:[End Define]:------------*/

/*---------[Main Dashboard - Record]--------*/
.count-bar {
    padding: 10px 0px;
}

.count {
    background: var(--background-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:10px;
    margin-top:10px;
}
.left-side,
.right-side {
    position:relative;
    display: inline-block;
    max-width:50%;
    padding: 0 20px;
}
.donut-chart {
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: var(--primary-variant);
}

.donut-chart .slice {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.donut-chart .chart-center {
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: var(--background-color);
}

.donut-chart .chart-center span {
    margin-top: 15px;
    height:inherit;
    display:block;
    text-align:center;
}

.donut-chart .one {
    clip: rect(0 60px 30px 0);
    -webkit-transform: rotate(-90deg);
    transform:rotate(-90deg);
    background: #ccc;
}

.donut-chart .two {
    clip: rect(0 30px 60px 0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: var(--primary-variant);
}
    /*--------[Menu Dashboard]--------*/
.widget {
    float: left;
    max-width: 250px;
    width: 100%;
    position: fixed;
    height: 100%;
    box-shadow: 0 0 white, 0 0 white, 10px -15px 10px -5px #ccc, 0 0 white;
    background: var(--background-color);
    opacity: 0.85;
}

.widget::after {
    bottom: 0;
    content: "@\ntk132";
    width: 100%;
    padding-left: 15px;
}

.widget ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.widget ul li {
    width: 100%;
    background-color: var(--background-color);
}

.dropdown-btn,
.dropdown-content a {
    float: none;
    display: block;
    padding: 5px 10px;
    margin: 5px 0;
    width: 100%;
    background: inherit;
    outline: none;
    border: none;
    border-left: 2px solid var(--background-color);
    text-align: left;
    color: #000;
}

.dropdown-btn:after {
    content: "+";
    font-size: 16px;
    font-weight:bold;
    width: 10px;
    color: var(--on-surface);
    float: right;
    margin-left: 5px;
}

.selected + .dropdown-content {
    display:block;
}

.selected:after {
    content: "-";
}

a.entered,
.dropdown-content a:hover {
    border-left-color: #333;
    opacity: 1.25;
}

.dropdown-content {
    padding: 0 20px;
    background-color: var(--background-color);
    display: none;
    overflow: hidden;
}

.dropdown-content a {
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

.mainboard {
    float: right;
    width: calc(100% - 250px);
    height: auto;
    background-color: var(--primary-variant);
    margin-left: 50px;
    padding: 20px;
}

.mainboard table {
    background-color: var(--background-color);
}

/*---------[Edit Page]--------*/
.tab {
    padding: 20px;
    background: var(--background-color);
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    margin: 10px;
}
.tab-half {
    width: 50%;
    position:relative;
    float:left;
}

input[type="submit"] {
    background: var(--secondary-variant);
    color: var(--on-secondary);
    border-radius: 0;
    padding: 6px 12px;
    margin: 6px 6px 0 0;
}
input[type="submit"]:hover {
    background: var(--secondary-color);
    color: var(--on-primary);
}

button {
    background: #ccc;
}
/*---------[Upload Media Dialog]--------*/
ul.media-gallery,
.media-gallery ul {
    list-style: none;
    list-style-type: none;
}
ul.media-gallery li,
.media-gallery ul li {
    display: inline-block;
    padding: 5px;
}
ul.media-gallery li:hover,
.media-gallery ul li:hover {
    filter: brightness(75%);
}
.media-box {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        right: auto;
        left: 50%;
        width: auto;
        margin: 0 10% !important;
        padding: 30px 0 !important;
    }
}
.modal-dialog {
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.modal-content {
    position: relative;
    background-color: var(--background-color);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    padding: 10px;
}

.modal-content input[type="text"] {
    width: 100%;
}

#ifrm {
    border:none;
    outline:none;
    overflow: hidden;
    height: 85px;
}

#ifrm body {
    padding: 0;
    margin: 0;
}

.btn-media,
#btn-upload,
#btn-select,
#btn-cancel {
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--secondary-variant);
    color: var(--on-surface);
    display: inline-block;
    padding: 6px 12px;
    margin:6px;
    margin-left:0;
}

.btn-media:hover,
#btn-upload:hover,
#btn-select:hover,
#btn-cancel:hover {
    background: var(--secondary-color);
    color: var(--surface-color);
}

#img-upload,
#img-thumbnail {
    display: block;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}

/*---------[catagory & Tag]--------*/
ul.cata-list {
    list-style: none;
    list-style-type: none;
    padding: 6px 12px;
    display: inline;
}

li.cata-item {
    display: inline-block;
    margin: 0 5px 15px 0;
    cursor:pointer;
}

.cata-item span {
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    padding: 5px 3px 5px 10px;
    color: #333;
}
.cata-item a {
    text-decoration: none;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    padding: 5px 10px 5px 7px;
    color: var(--on-primary);
}
.cata-item:hover a {
    background:#ccc;
}

.cata-item span,
.cata-item a {
    background: #ddd;
    text-align: center;
}

.cata-add,
a.cata-add {
    color: #333;
    border: 2px solid #333;
    border-radius: 50% 50%;
    cursor:pointer;
    height: 25px;
    width: 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.cata-add:hover,
a.cata-add:hover {
    color: var(--on-primary);
    background:#333;
}