*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

img {
    width:100%;
}

input[type="submit"],
button {
    border: none;
    outline: none;
    background: inherit;
}

.fa {
    color: #333;
}