/*===========================================================================*/
/*=============================== Page About ================================*/

/*===========================================================================*/
/*=============================== Page Contact ================================*/
.contact {
    padding: 25px;
}

.contact input,
.contact textarea,
.contact button {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: #f1f1f1;
}

    .contact input:hover,
    .contact textarea:hover {
        background-color: #ddd;
    }

.contact .submit {
    background-color: #1A3E4C;
    color: #fff;
}

/*--------[Option Bar]--------*/
.option-bar {
   text-align:center;
   padding:15px;
}

.option-bar input[type="text"] {
    float:left;
    outline:none;
    padding: 5px 15px;
    border:none;
    background: #ddd;
    width:80%;
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
}

.option-bar input[type="text"]:focus {
    background:#eee;
}

.option-bar button[type="submit"] {
    float:left;
    background: #ccc;
    width:20%;
    padding: 5px;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
}

.option-bar input[type="text"],
.option-bar button[type="submit"] {
    margin:10px 0;
}

.option-bar button:not([type="submit"]) {
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.option-bar button:not([type="submit"]):hover {
    background: #ccc;
}

.option-bar .dropdown-menu {
    text-align: left;
    left:calc(50% - 20px);
    border:0px;
    padding:0px;
    opacity: 0.85;
}
.option-bar .dropdown-menu > li {
    padding:5px;
}
.option-bar .dropdown-menu > li a {
    padding:10px;
}

.option-bar .dropdown-menu > li a:hover {
    background: #ccc;
    border-radius:20px;
    color: #111;
    opacity: 1.25;
}

.option-bar::after {
    content:"";
    clear:both;
    display:table;
}

/*--------[User card - Portfolio]--------*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    margin: 10px;
    filter: brightness(50%);
    border-radius: 10px;
    transition: filter 0.3s;
    transition: box-shadow 0.3s;
    transition: border-radius 0.3s;
}
.card:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
    filter: brightness(100%);
    border-radius: 0;
}
.card:hover img {
    border-radius: 0;
}
.card-header {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
    overflow: hidden;
}
.card-content {}
.card-meta {
    padding: 5px 0;
}
.card img {
    border-radius: 10px 10px 0 0;
    transition: border-radius 0.2s;
}
.card a {
    text-decoration: none;
}
.card .title {
    color: grey;
    font-size: 25px;
    padding: 10px 0;
}
.card button {
    border: none;
    outline: none;
    display: inline-block;
    background-color: #111;
    color: #eee;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 5px 0;
}

.card button:hover {
    opacity: 0.75;
}

.card .soldout,
.card .available {
    text-align: center;
    width: 100%;
    padding: 5px 0;
    color: #eee;
}

.card .soldout {
    background-color: #ff4d4d;
}

.card .available {
    background-color: #47d147;
}