/*===========================================================================*/
/*=============================== Admin Side ================================*/

/*---------[Main Dashboard - Record]--------*/
.count-bar {
    padding:10px;
}

.count {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:10px;
    margin: 10px 5px;
}
.left-side,
.right-side {
    position:relative;
    display: inline-block;
    max-width:50%;
    padding: 0 20px;
}
.donut-chart {
    height:60px;
    width:60px;
    position:relative;
    border-radius:50%;
    overflow:hidden;
    background: #ccc;
}

.donut-chart .slice {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.donut-chart .chart-center {
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #fff;
}

.donut-chart .chart-center span {
    margin-top: 15px;
    height:inherit;
    display:block;
    text-align:center;
}

.donut-chart .one {
    clip: rect(0 60px 30px 0);
    -webkit-transform: rotate(-90deg);
    transform:rotate(-90deg);
    background: #50c690;
}

.donut-chart .two {
    clip: rect(0 30px 60px 0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #ccc;
}
    /*--------[Menu Dashboard]--------*/
.widget {
    float: left;
    max-width: 250px;
    width: 100%;
    position: fixed;
    height: 100%;
    box-shadow: 0 0 white, 0 0 white, 10px -15px 10px -5px #ccc, 0 0 white;
}

.widget::after {
    bottom: 0;
    content: "@\ntk132";
    width: 100%;
    padding-left: 15px;
}

.widget ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.widget ul li {
    width: 100%;
    background-color: #fff;
}

.dropdown-btn,
.dropdown-content a {
    float: none;
    display: block;
    padding: 10px;
    width: 100%;
    background: inherit;
    outline: none;
    border: none;
    border-left: 5px solid #fff;
    text-align: left;
}

.dropdown-btn:after {
    content: "\25bc";
    font-size: 10px;
    color: #347B98;
    float: right;
    margin-top: 3px;
    margin-left: 5px;
}

.selected {
    background-color: #e4f1f6;
    border-left-color: #1A3E4C;
}

.selected + .dropdown-content {
    display:block;
}

.selected:after {
    content: "\25b2";
}

.dropdown-btn:hover,
.dropdown-content a:hover {
    background-color: #e4f1f6;
    border-left-color: #1A3E4C;
}

.dropdown-content {
    padding: 0 20px;
    background-color: #fff;
    display:none;
    overflow: hidden;
    transition: display 0.2s ease-out;
}

.dropdown-content a {
    text-decoration: none;
    padding-left: 40px;
    color: black;
}

.mainboard {
    float: right;
    width: calc(100% - 250px);
    height: auto;
    background-color: #eee;
    margin-left: 50px;
    padding: 20px;
}

.mainboard table {
    background-color: #fff;
}

/*---------[Edit Page]--------*/
.tab {
    padding: 20px;
    background:#fff;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    margin: 10px;
}

input[type="submit"] {
    background:#eee;
}

input[type="submit"]:hover {
    background: #347B98;
    color:#fff;
}

button {
    background: #ccc;
}

button:hover {
    background: #666;
    color: #fff;
}